<p id="notice"><%= notice %></p>
<%= render 'cars/search' %>
<% if @cars.blank? %>
    <h4>There are no cars containing the term <%= params[:search] %> in <%= params[:search_by] %>.</h4>
    <h7><%=link_to 'Show All Cars',cars_path%> </h7><br/>
<% end %>
<br>
<h1 style = "display: inline-block">List of Cars </h1>
<% if current_user.admin? %>
    <a href= "cars/new" class="btn btn-primary btn-md text-white", style = "display: inline-block; position: absolute; right: 30px" >Add a new car</a>
<% end %>
<table class = "table table-striped table-bordered">
  <thead>
    <tr>
      <th>License plate</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Hourly rental rate</th>
      <th>Style</th>
      <th>Location</th>
      <th>Status</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <%= render 'admin_actions' %>


</table>

<br>
